.forcast-section{
    height: 100vh;
    color: aliceblue;
    margin-left: 3%;
}
.forcast-section .forcast-container{
    background-color: #0c021d;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5%;
    padding: 5%;

}
.show-forcastdetails{
    width: 25vh;
    height: 23vh;
    background-color: #24183c;
    border-radius: 10%;
    margin-top: 3%;
    padding-bottom: 5%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 5%;

}
.show-forcastdetails .temp-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.show-forcastdetails .temp-container span{
    font-size: 2rem;
    font-weight: 700;
    position: relative;

}
.show-forcastdetails .temp-container img{
    width: 40%;
    height: 40%;
}
.show-forcastdetails .temp-container span .degree-sign{
    position: absolute;
    top: 0;
    font-size: 1.3rem;
}
.temp-container2{
    margin-top: 10%;
    font-size: 1.3rem;
    font-weight: 600;
}

/* responsive */
@media (max-width: 1024px){
    .show-forcastdetails{
        width: 26vh;
        height: 24vh;
        margin-left: 4%;
        padding-bottom: 15%;
    }
}
@media (max-width: 778px){
    .forcast-section{
        margin-left: 2%;
    }
    .show-forcastdetails{
        margin-left: 3%;
    
    }
}
@media (max-width: 667px){
    .forcast-section{
        margin-left: 0;
        margin-right: 10px;
    }
    .forcast-section .forcast-container{
        width: 100%;
        border-radius: 10px;
    }
    .show-forcastdetails{
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
  }