.humadity-container {
    height: 25vh;
    width: 25vh;
    background: #2d2b4d;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    box-shadow: 0px 0px 10px 10px #624e89;
}

.humadity-container .progress-meter{
    margin: auto;
    width: 90%;
    height: 90%;
    position: relative;
    border-radius: 50%;
    background: conic-gradient(rgb(54, 54, 229) 180deg, rgb(172, 172, 196) 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}
.humadity-container .progress-meter::before{
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    border-radius: 50%;
    background-color: #2d2b4d;
    color: aliceblue;
}
.progress-value{
    position: relative;
    font-size: 2rem;
    font-weight: 700;
}